<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Knowledge Browser: Preprints</title><!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">--><!-- plugins:css --><!-- endinject --><!-- inject:css --><link rel="stylesheet" href="../assets/css/shared/stylenew-min.css?v=5"><!-- endinject --><script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async>MathJax.Hub.Config( { messageStyle: 'none', extensions: ['tex2jax.js'], jax: ['input/TeX','output/HTML-CSS'], tex2jax: { inlineMath: [['$','$']], processEscapes: true, ignoreClass: '.*', processClass: 'mathjax.*' }, TeX: { extensions: ['AMSmath.js', 'AMSsymbols.js', 'noErrors.js'] } }); </script><link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css"><link rel="icon" href="../assets/images/favicon.ico">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142710357-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142710357-1');
  gtag('config', 'AW-730537328');

  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-730537328/94mjCPbwyaQBEPC6rNwC',
        'event_callback': callback
    });
    /*return false;*/
  }
</script>

</script>
</head><body>
<nav class="t-header home-header"><div class="t-header-brand-wrapper home-header-wrapper"><div style="display: flex; align-items: center"><img src="../assets/images/kb-preprints-big.png" class="big-logo"></div>
<div class="t-header-content-wrapper"><div class="t-header-content"><form onClick="gtag_report_conversion()" action="https://knowledgebrowser.org/preprints/search" method="GET" class="t-header-search-box homepage-search" id="searchform"><div class="input-group"><div class="input-group-prepend"><div class="input-group-text"><i class="mdi mdi-magnify" onClick="document.getElementById('searchform').submit();"></i></div></div><input type="text" class="form-control" id="inlineFormInputGroup" placeholder="discover the newest research" autocomplete="off" name="q" autofocus></div></form></div></div>
<div style="align-items: center; text-align:center; padding: 2.5rem 1rem 1rem 1rem"><small class="text-muted">try: <a href="https://knowledgebrowser.org/preprints/search?q=exoplanets" onClick="gtag_report_conversion()">exoplanets</a>, <a href="https://knowledgebrowser.org/preprints/search?q=microbiome" onClick="gtag_report_conversion()">microbiome</a>, <a href="https://knowledgebrowser.org/preprints/search?q=machine+learning" onClick="gtag_report_conversion()">machine learning</a></small></div>
</div>
</nav>
<!-- partial --><div class="page-body"><!-- partial --><div class="page-content-wrapper" style="margin-top: 0px !important"><div class="page-content-wrapper-inner"><div class="content-viewport">{{{body}}}</div></div><!-- content viewport ends --><!-- partial:partials/_footer.html --><footer class="footer"><div class="row"><div class="col-sm-6 text-center text-sm-right order-sm-1"><ul class="text-gray"><li><a href="https://knowledgebrowser.org/preprints/about">About</a></li><li><a href="https://knowledgebrowser.org/preprints/terms-and-privacy">Terms &amp; Privacy</a></li><li><li>|</li><a href="https://knowledgebrowser.org/login" rel="nofollow">Login</a></li></ul></div><div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0"><small class="text-muted d-block">kb:preprints © 2019</small></div></div></footer><!-- partial --></div><!-- page content ends --></div></body></html>