<div class="content-viewport">
    {{#if error}}<div class="row" style="padding-bottom:2rem">{{error}}</div>{{/if}}
    <div class="row" style="padding-bottom:2rem">
        <h5>Confirm removal of notification for {{query}}</h5>
    </div>
    <form action="http://localhost/account/delete-notification" method="POST">
    <div class="row">
        <div class="col-12" style="text-align:center">
            <button type="submit" class="btn social-btn btn-pinterest btn-lg" style="margin-right:1rem"><i
                    class="mdi mdi-delete"></i>Delete</button>
            <a href="http://localhost/account"><div type="button" class="btn btn-link">Cancel</div></a>
        </div>
    </div>
    <input type="hidden" name="hiddenid" value="{{{hiddenid}}}">
    <input type="hidden" name="purpose" value="1">
    </form>
</div>