<div class="content-viewport">
    <div class="row" style="padding-bottom:2rem">
        <h5>Contact us</h5>
    </div>
    <div class="row" style="padding-bottom:2rem">
        <div class="col-12 equel-grid">
            <div class="grid">
                <p class="grid-header" style="background: #f9fafb;font-weight: 300;">If you have any problems or suggestions, don't hesitate to send them here - we will contact you shortly</p>
                <div class="grid-body" style="padding-bottom:1rem">
                    <div class="item-wrapper" style="padding-bottom:1rem">
                        <div class="row">
                            <div class="col-md-11 mx-auto">
                                <div class="form-group row showcase_row_area">
                                    <div class="col-md-2 showcase_text_area"><label for="inputType1"
                                            style="margin-top: 0.25rem;">Message</label></div>
                                    <div class="col-md-10 showcase_content_area"><textarea class="form-control" id="inputType9" rows="10" style="background-color: #f6f7f9;border: 1px solid #f0f2f5;"></textarea></div>
                                </div>
                                <div class="item-wrapper" style="width:100%; text-align:right">
                                    <button type="button" class="btn btn-success">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>