<div class="row" style="padding-bottom:1.5rem"><div class="col-md-12 equel-grid"><small style="width:100%">Your account: email@email.com</small></div></div>

<div class="row" style="padding:1.5rem 0 0.5rem 0"><div class="col-md-12 equel-grid"><h3>Notifications about new preprints</h3></div></div>

<div class="row">
    <div class="col-md-12 equel-grid">
        <div class="grid">
            <div class="grid-body search-result">
                <div class="vertical-timeline-wrapper">
                    <div class="timeline-vertical dashboard-timeline">
                        <div class="row activity-log">
                            <div class="col-12 col-md-9"><p class="log-name">Keywords: <a href="{{{link}}}">test</a></p>
                            <div class="log-details">Minimal relevance: 4/10<br/>Mailing frequency: as soon as possible</div>
                            <div class="log-details"><a href="#" class="blue-button"><i class="mdi mdi-settings" style="padding-right:0.5rem"></i> Modify notification</a> <a href="#" class="gray-button"><i class="mdi mdi-delete" style="padding-right:0.5rem"></i> Delete notification</a></div>
                            </div>
                            <div class="col-12 col-md-3"><small class="log-time">5 preprints weekly</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"><div style="width:100%; text-align:center; padding:1rem 0"><a href="#" class="blue-button" style="padding:15px 20px 14px 20px;"><i class="mdi mdi-auto-fix" style="padding-right:0.5rem"></i> Add notification</a></div></div>

<div class="row" style="padding:2rem 0 0.5rem 0"><div class="col-md-12 equel-grid"><h3>Account settings</h3></div></div>
<div class="row">
    <div class="col-md-12 equel-grid">
        <div class="grid">
            <div class="grid-body search-result">
                <div class="vertical-timeline-wrapper">
                    <div class="timeline-vertical dashboard-timeline">
                        <div class="row activity-log">
                            <div class="col-12"><div class="log-details">
                                <a href="#" class="blue-button">Change password</a><br/><a href="#" class="blue-button">Change e-mail</a><br/><a href="#" class="gray-button">Delete account</a>
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>