<div class="content-viewport">
    {{#if error}}<div class="row" style="padding-bottom:2rem">{{error}}</div>{{/if}}
    <div class="row" style="padding-bottom:2rem">
        <h5>Add notification</h5>
    </div>
    <form action="https://knowledgebrowser.org/account/add-notification" method="POST">
    <div class="row" style="padding-bottom:2rem">
        <div class="col-12 equel-grid">
            <div class="grid">
                <p class="grid-header" style="background: #f9fafb;font-weight: 300;">New notification</p>
                <div class="grid-body" style="padding-bottom:1rem">
                    <div class="item-wrapper" style="padding-bottom:1rem">
                        <div class="row">
                            <div class="col-md-9 mx-auto">
                                <div class="form-group row showcase_row_area" style="margin-bottom: 0.5em !important;">
                                    <div class="col-md-3 showcase_text_area"><label for="inputType1"
                                            style="margin-top: 0.25rem;">Keywords</label></div>
                                    <div class="col-md-9 showcase_content_area"><input type="text" class="form-control"
                                            id="inputType1" {{#if forWhat}}value="{{forWhat}}"{{else}}placeholder="keywords"{{/if}}
                                            style="background-color: #f6f7f9;border: 1px solid #f0f2f5;" name="keyword"></div>
                                </div>
                                <div class="form-group row showcase_row_area">
                                    <div class="col-md-3 showcase_text_area"> </div>
                                    <div class="col-md-9 showcase_content_area"><small>Separate keywords by comma (,) to combine many results in one notification.<br/>Example: nlp, text mining, knowledge extraction.</small></div>
                                </div>
                                <div class="form-group row showcase_row_area">
                                    <div class="col-md-3 showcase_text_area"><label for="inputType1"
                                            style="margin-top: 0.25rem;">Minimal relevance</label></div>
                                    <div class="col-md-9 showcase_content_area"><select class="custom-select" style="background-color: #f6f7f9;border: 1px solid #f0f2f5;" name="relevance">
                                            <option value="3">3/10</option>
                                            <option value="4" selected>4/10 - The most universal, used in search engine</option>
                                            <option value="5">5/10</option>
                                            <option value="6">6/10</option>
                                            <option value="7">7/10 - Exact match in title or strong presence in abstract</option>
                                            <option value="8">8/10</option>
                                            <option value="9">9/10</option>
                                            <option value="10">10/10 - Exact match in title, mutliple occurences in abstract</option>
                                        </select></div>
                                </div>
                                <div class="form-group row showcase_row_area">
                                    <div class="col-md-3 showcase_text_area"><label for="inputType1"
                                            style="margin-top: 0.25rem;">Frequency</label></div>
                                    <div class="col-md-9 showcase_content_area"><select class="custom-select" style="background-color: #f6f7f9;border: 1px solid #f0f2f5;" name="frequency">
                                            <option value="1" selected>As soon as possible</option>
                                            <option value="2">Max one a day</option>
                                            <option value="3">Max one a few days</option>
                                            <option value="4">Max one a week</option>
                                            <option value="5">Max one a few weeks</option>
                                        </select></div>
                                </div>
                                <div class="form-group row showcase_row_area">
                                    <div class="col-md-3 showcase_text_area"><label for="inputType1"
                                            style="margin-top: 0.25rem;">Adress</label></div>
                                    <div class="col-md-9 showcase_content_area"><input type="text" class="form-control"
                                            id="inputType1" value="{{{username}}}"
                                            style="background-color: #f6f7f9;border: 1px solid #f0f2f5;" name="toWhatMail" disabled></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom:2rem">
        <div class="col-12" style="text-align:center">
            <button type="submit" class="btn social-btn btn-behance btn-lg" style="margin-right:1rem"><i
                    class="mdi mdi-plus"></i>Add</button>
            <a href="https://knowledgebrowser.org/account"><div type="button" class="btn btn-link">Cancel</div></a>
        </div>
    </div>
    </form>
</div>