<div class="modal-theme">
    <div class="row">
        <div class="col-12 logo-col"><a href="https://knowledgebrowser.org/preprints"><img class="logo" src="../assets/images/kb-preprints-transparent.png" alt="Logo"></a></div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
            <div class="grid">
                <div class="grid-body" style="padding: 60px 15px;position: relative;">
                    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto" style="position: unset;">
                            {{#if error}}<div class="modal-footer" style="top: 5px !important;max-height: 30px;">
                                <small class="text-muted" style="color:#b50000 !important">{{error}}</small>
                            </div>{{/if}}
                            <form action="login" method="POST">
                                <div style="margin-bottom: 20px;"><input type="text" class="form-control"
                                        placeholder="E-mail" style="border-radius: 25px;" name="email" {{#if email}}value="{{{email}}}"{{/if}}></div>
                                <div style="margin-bottom: 20px;"><input type="password" class="form-control"
                                        placeholder="Password" style="border-radius: 25px;" name="password"></div>
                                <button type="submit" class="modal-button">Login</button>
                            </form>
                            <div class="modal-footer">
                                <small class="text-muted">Don't have an account yet? <a href="https://knowledgebrowser.org/singup">Sign up</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 50px;">
        <p class="text-muted text-center">© kb:preprints 2019</p>
    </div>
</div>