<div class="row" style="padding-bottom:1.5rem"><div class="col-md-12 equel-grid"><h1>Terms of use</h1></div></div>

<div class="row"><div class="col-md-12 equel-grid"><div class="grid nounderline"><div class="grid-body"><div style="font-size: 14px;  padding:1rem; line-height:1.7">
    Knowledge Browser presents meta-data about third-party entities. We are not responsible for the reliability of displayed data (including medical information). All results are always given along with the source name and direct link to full content.<br/><br/>
    The website currently presents preprints - articles that are <strong>not peer-reviewed</strong>. They are intended for scientists familiar with the area of research related to the topic of a preprint.<br/><br/>
    As always, remember about the critical reception of anything that you read!
</div></div></div></div></div>

<div class="row" style="padding-top:1.5rem;padding-bottom:1.5rem"><div class="col-md-12 equel-grid"><h1>Privacy policy</h1></div></div>

<div class="row"><div class="col-md-12 equel-grid"><div class="grid nounderline"><div class="grid-body"><div style="font-size: 14px;  padding:1rem; line-height:1.7">
    We do not track your personal data (that is: identifiable and/or linkable to a person).<br/>We collect only non-personal tracking data.<br/>We do not share tracking data with third-parties.<br/><br/>
    For quality control purposes, we collect entered queries in an internal database. Queries are associated only with timestamps. It is not possible to track a history of searches of a person.<br/><br/>
    For overall traffic monitoring, we use Google Analytics. However, we are not using display features, user identification, ad personalization, or any cookie-related services. If you still want to opt out from anonymous traffic statistics, you can use Google tool available <a href="https://tools.google.com/dlpage/gaoptout">here</a> or enable script-blocking plugin.<br/>
</div></div></div></div></div>