{{#each message}}
<div class="row" style="padding-bottom:1.5rem"><small>{{text}}</small></div>
{{/each}}

{{#each publication}}
<div class="row"><div class="col-md-12 equel-grid"><div class="grid"><div class="grid-body"><div class="vertical-timeline-wrapper"><div class="timeline-vertical dashboard-timeline"><div class="activity-log"><p class="log-name">{{title}}</p><div class="log-details">{{abstract}}</div><small class="log-time">{{date}}</small></div></div></div></div></div></div></div>
{{/each}}