<div class="row" style="padding-bottom:1.5rem"><div class="col-md-12 equel-grid"><h1>About kb:preprints</h1></div></div>

<div class="row"><div class="col-md-12 equel-grid"><div class="grid nounderline"><div class="grid-body"><div style="font-size: 14px;  padding:1rem; line-height:1.7">
    <i>Future shock</i>, <i>Megabit bomb</i>, <i>Amusing ourselves to death</i>... Those marvelous works warned us about the forthcoming flood of information overload. Their authors did this in fear of television and tonnes of books, years before the internet explosion. Today we are facing orders of magnitude more problems: with the frequency of information retrieval, with the amount of new information, with the quality of knowledge. We need better tools to collect, dissect, and present informations.<br/><br/>
    
    kb:preprints is the first step on a long way. We start by tackling a relatively confined problem - organization of preprints in science. It can be seen as a good model of new knowledge attribution, and as a smooth entrance into the scientific body of knowledge. However, preprints are substantially interesting on their own, and kb:preprints in the first place intends to support the use of preprints in science.<br/><br/>

    Contact: <a href="https://twitter.com/Ivegot99introns">@Ivegot99introns</a>
</div></div></div></div></div>