<div class="row" style="padding-bottom:1.5rem"><div class="col-md-12 equel-grid"><h1>Terms of use</h1></div></div>

<div class="row"><div class="col-md-12 equel-grid"><div class="grid nounderline"><div class="grid-body"><div style="font-size: 14px;  padding:1rem; line-height:1.7">
    Knowledge Browser presents meta-data about third-party entities. We are not responsible for the reliability of displayed data (including medical information). All results are always given along with the source name and direct link to full content.<br/><br/>
    The website currently presents preprints - articles that are <strong>not peer-reviewed</strong>. They are intended for scientists familiar with the area of research related to the topic of a preprint.<br/><br/>
    As always, remember about the critical reception of anything that you read!
</div></div></div></div></div>