<div class="row">
    <div class="col-md-12 order-md-0">
    <div class="row">
        <div class="col-3 equel-grid">
        <div class="grid d-flex flex-column align-items-center justify-content-center homepage-grid">
            <div class="grid-body text-center homepage-card">
            <div class="profile-img img-rounded bg-inverse-primary no-avatar component-flat mx-auto mb-4"><i class="mdi mdi-file-multiple mdi-2x"></i></div>
            <h2 class="font-weight-medium">5.841</h2>
            <small class="text-gray d-block mb-3">preprints in the last week</small>
            <small class="font-weight-medium text-success"><i class="mdi mdi-menu-up"></i><span class="animated-count">2.3</span>%</small>
            </div>
        </div>
        </div>
        <div class="col-3 equel-grid">
        <div class="grid d-flex flex-column align-items-center justify-content-center homepage-grid">
            <div class="grid-body text-center homepage-card">
            <div class="profile-img img-rounded bg-inverse-primary no-avatar component-flat mx-auto mb-4"><i class="mdi mdi-file mdi-2x"></i></div>
            <h2 class="font-weight-medium">826</h2>
            <small class="text-gray d-block mb-3">preprints today</small>
            <small class="font-weight-medium text-success"><i class="mdi mdi-menu-up"></i><span class="animated-count">6.1</span>%</small>
            </div>
        </div>
        </div>
        <div class="col-3 equel-grid">
        <div class="grid d-flex flex-column align-items-center justify-content-center homepage-grid">
            <div class="grid-body text-center homepage-card">
            <div class="profile-img img-rounded bg-inverse-success no-avatar component-flat mx-auto mb-4"><i class="mdi mdi mdi-server-network mdi-2x"></i></div>
            <h2 class="font-weight-medium">27</h2>
            <small class="text-gray d-block mb-3">preprint servers</small>
            <small class="font-weight-medium text-success">newest: medRxiv</small>
            </div>
        </div>
        </div>
        <div class="col-3 equel-grid">
        <div class="grid d-flex flex-column align-items-center justify-content-center homepage-grid">
            <div class="grid-body text-center homepage-card">
            <div class="profile-img img-rounded bg-inverse-warning no-avatar component-flat mx-auto mb-4"><i class="mdi mdi-fire mdi-2x"></i></div>
            <h2 class="font-weight-medium">arXiv</h2>
            <small class="text-gray d-block mb-3">most active server</small>
            <small class="text-gray">8.6x more than 2nd</small>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 equel-grid">
    <div class="grid homepage-grid">
        <div class="grid-body py-3">
        <p class="card-title ml-n1">preprint servers</p>
        </div>
        <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
            <tr class="solid-header">
                <th colspan="2" class="pl-4"> </th>
                <th>last month</th>
                <th>last week</th>
                <th>newest</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            <tr>
                <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="http://www.placehold.it/50x50" alt="profile image">
                </td>
                <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">serVer</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>
                <small>7777</small>
                </td>
                <td>3h ago</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
    <div class="col-md-4 equel-grid">
    <div class="row flex-grow">
        <div class="col-12 equel-grid">
        <div class="grid widget-revenue-card homepage-grid">
            <div class="grid-body d-flex flex-column h-100 chart-card">
            <div class="split-header">
                <p class="card-title">latest preprints</p>
            </div>
            <div class="mt-1">
                <div class="content-wrapper v-centered">
                <small class="text-muted">52 minutes ago:</small>
                </div>
                <p class="text-gray"><a href="">Amino Acid Chiral Selection Via Weak Interactions in Stellar Environments: Implications for the Origin of Life</a></p>
            </div>
            <div class="mt-1">
                <div class="content-wrapper v-centered">
                <small class="text-muted">52 minutes ago:</small>
                </div>
                <p class="text-gray"><a href="">Amino Acid Chiral Selection Via Weak Interactions in Stellar Environments: Implications for the Origin of Life</a></p>
            </div>
            <div class="mt-1">
                <div class="content-wrapper v-centered">
                <small class="text-muted">52 minutes ago:</small>
                </div>
                <p class="text-gray"><a href="">Amino Acid Chiral Selection Via Weak Interactions in Stellar Environments: Implications for the Origin of Life</a></p>
            </div>
            <div class="mt-1">
                <div class="content-wrapper v-centered">
                <small class="text-muted">52 minutes ago:</small>
                </div>
                <p class="text-gray"><a href="">Amino Acid Chiral Selection Via Weak Interactions in Stellar Environments: Implications for the Origin of Life</a></p>
            </div>
            <div class="mt-1">
                <div class="content-wrapper v-centered">
                <small class="text-muted">52 minutes ago:</small>
                </div>
                <p class="text-gray"><a href="">Amino Acid Chiral Selection Via Weak Interactions in Stellar Environments: Implications for the Origin of Life</a></p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 equel-grid">
    <div class="grid">
        <div class="grid-body chart-card">
        <div class="d-flex justify-content-between">
            <p class="card-title">project communications</p>
        </div>
        <div class="vertical-timeline-wrapper">
            <div class="timeline-vertical dashboard-timeline">
            <div class="activity-log">
                <p class="log-name">first public release of kb:preprints</p>
                <div class="log-details">knowledge browser has started to operate at knowbrowser.org</div>
                <small class="log-time">25th June 2019</small>
            </div>
            </div>
        </div>
        </div>
        <!--<a class="border-top px-3 py-2 d-block text-gray" href="#"><small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>View All</small></a>-->
    </div>
    </div>
</div>